<div class="content-box">




    <div id="APP_CONTENT" style="display: none;">



        <div class="row">
            <div class="col-sm-12">
                <div class="element-wrapper">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="element-wrapper">
                                <label id="walletHolder">WALLET NOT CONNECTED YET, PLEASE CONNECT FROM METAMASK AND OTHERS</label> <br>
                            </div>
                        </div>
                    </div>

                    <div class="element-content">
                        <div class="row">
                            <div class="col-sm-6 col-xxxl-3">
                                <a class="element-box el-tablo" href="#">
                                    <div class="label">
                                        Group Savings
                                    </div>
                                    <div class="value">
                                        {{ 0 }}
                                    </div>
                                    <div class="trending trending-up-basic">
                                        <span>${{ 0|number_format(2, '.', ',') }}</span><i class="os-icon os-icon-arrow-up2"></i>
                                    </div>
                                </a>
                            </div>

                            <div class="col-sm-6 col-xxxl-3">



                            <span class="element-box el-tablo">
                                <div class="label">
                                    My Wallet
                                </div>

                                <div class="trending trending-up-basic">
                                    FIAT: <span>${{ 0|number_format(2, '.', ',') }}</span><i class="os-icon os-icon-arrow-up2"></i>
                                </div>

                            <div class="element-box-tp ">
                                <hr>
                                <button data-target="#fiatModal" data-toggle="modal" type="button" class="btn btn-secondary">Deposit</button>
                                <button data-target="#fiatModal" data-toggle="modal" type="button" class="btn btn-secondary">Withdraw</button>
                                <button data-target="#fiatModal" data-toggle="modal" type="button" class="btn btn-secondary">Exchange</button>
                            </div>
                            </span>



                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="col-sm-12 col-lg-8 col-xxl-6">
            <div class="element-balances justify-content-between mobile-full-width">
                <div class="balance balance-v2">
                    <div class="balance-title">
                        My Personal Contributions
                    </div>
                    <div class="balance-value">
                        <span id="TotalSavingsBalance" class="">--</span>
                        <span class="trending trending-up-basic">
                        <span id="PercentageHolder">%0</span>
                        <i class="os-icon os-icon-arrow-2-up"></i></span>
                    </div>
                    cETH: <span id="CEthereumBalance" class="">0.00</span>
                </div>
                <div class="balance-table pl-sm-2">
                    <table class="table table-lightborder table-bordered table-v-compact mb-0">
                        <tbody><tr>
                            <td>
                                <strong title="Original Balance" id="EthereumBalance">0.00</strong>
                                <div class="balance-label smaller lighter text-nowrap">
                                    Etherium ETH
                                </div>
                            </td>
                            <td>
                                <strong>0.00</strong>
                                <div class="balance-label smaller lighter text-nowrap">
                                    Bitcoin BTC
                                </div>
                            </td>
                            <td class="d-sm-none d-xxxxl-table-cell d-md-table-cell d-xxl-none">
                                <strong>${{ 0|number_format(2, '.', ',') }}</strong>
                                <div class="balance-label smaller lighter text-nowrap">
                                    FIAT (USD)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>0.00</strong>
                                <div class="balance-label smaller lighter text-nowrap">
                                    Tether USDT
                                </div>
                            </td>
                            <td>
                                <strong>0.00</strong>
                                <div class="balance-label smaller lighter text-nowrap">
                                    Dai DAI
                                </div>
                            </td>
                            <td class="d-sm-none d-xxxxl-table-cell d-md-table-cell d-xxl-none">
                                <strong>0.00</strong>
                                <div class="balance-label smaller lighter text-nowrap">
                                    COMP CGT
                                </div>
                            </td>
                        </tr>
                        </tbody></table>
                </div>
            </div>
            <div class="element-wrapper pb-4 mb-4 border-bottom">
                <div class="element-box-tp">
                    <a class="btn btn-primary" href="#" data-target=".contributeMoneySmallModal" data-toggle="modal"><i class="os-icon os-icon-refresh-ccw"></i><span>Contribute Money</span></a>

                    <a class="btn btn-grey" href="#" data-target=".withdrawMoneySmallModal" data-toggle="modal"><i class="os-icon os-icon-log-out"></i><span>Withdraw</span></a>
                    {#<a class="btn btn-grey d-none d-sm-inline-block" href="#"><i class="os-icon os-icon-plus-circle"></i><span>Add Wallet</span></a>#}

                </div>
            </div>
            <div class="element-wrapper compact">
                <div class="element-box-tp">
                    <div class="element-actions d-none d-sm-block">
                        <form class="form-inline justify-content-sm-end">
                            <label class="smaller" for="">Show Period:</label><select class="form-control form-control-sm form-control-faded">
                                <option selected="true">
                                    Last 30 days
                                </option>
                                <option>
                                    This Week
                                </option>
                                <option>
                                    This Month
                                </option>
                                <option>
                                    Today
                                </option>
                            </select>
                        </form>
                    </div>
                    <h6 class="element-box-header">
                        Balance History
                    </h6>
                    <div class="el-chart-w"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                        <canvas data-chart-data="13,28,19,24,43,49,40,35,42,46,38,32,45" height="204" id="liteLineChartV3" width="1234" class="chartjs-render-monitor" style="display: block; height: 102px; width: 617px;"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <br>


        <div class="element-wrapper">
            <h6 class="element-header">
                Group Savings
            </h6>
            <div class="element-box-tp">
                <div class="table-responsive">
                    <table class="table table-padded">
                        <thead>

                        <tr>
                            <th>Status</th>
                            <th class="text-right"> Amount(ETH) </th>

                            <th class="text-center"> Members </th>
                            <th> Action </th>
                        </tr>
                        </thead>
                        <tbody>


                        {% for spon in invests %}
                            <tr>

                                <td class="nowrap">  <span class="status-pill smaller

                        {% if spon.status == 'Running'  %} green {% endif %}
                        {% if spon.status == 'Paid Out'  %} green {% endif %}
                        {% if spon.status == 'Pending'  %} yellow {% endif %}
                        {% if spon.status == 'Suspended' %} red {% endif %}
                        {% if spon.status == 'Deleted' %} red {% endif %}

"></span>
                                    <span>{{ spon.status }}</span>
                                    <hr>
                                        <span>{{ spon.title }}</span>

                                </td>

                                <td class="text-right bolder nowrap">  <span class="text-success">{{ (spon.contribution_price*spon.total_members)|number_format(2, '.', ',') }}  </span> <hr>
                                    <span>Contribution: </span><span class="smaller lighter">{{ spon.contribution_price|number_format(2, '.', ',') }}</span>

                                </td>


                                <td class="cell-with-media">  <span>{{ spon.registered_members|length }} of {{ spon.total_members }}</span>
                                    <hr>

                                    {% for members in  spon.registered_members %}
                                         <span>{{ loop.index }}</span><span class="smaller lighter">{{ members }}</span><br>
                                    {% endfor %}

                                </td>


                                <td class="text-center">   <button data-target=".joinPullModal" data-toggle="modal" class="badge badge-success joinPoolButton">Contribute</button>
                                    <hr>
                                    <span>Profit</span><span class="smaller lighter text-success">$ {{  (spon.roi/100*(spon.contribution_price*spon.total_members)) |number_format(2, '.', ',') }}</span><br>
                                    <span>ROI</span><span class="smaller lighter">{{ spon.roi }}%</span>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="col-lg-12 col-xxl-6">
            <!--START - MESSAGE ALERT-->
            <div class="alert alert-warning borderless">
                <h5 class="alert-heading">
                    How it works
                </h5>
                <h2>Personal Saving</h2>
                <p>Save your money in FIAT or Stable Coin, our app convert your FIAT to Stable coin and auto select best protocol to invest/stake on your behalf to earn passive</p>

                <h2>Credit Union</h2>
                <p>Create a group; users can join and contribute funds to the pool, earnings are shared based on Esusu rules in hours with higher income for all.</p>

                <h2>Loans</h2>
                <p>Borrow in an overcollateralized (perpetually) or undercollateralized (one-block liquidity) style.</p>

                <h2>File Storage</h2>
                <p>Get access seamless/resilient upload of Images/files to IPFS via web interface and get secured url </p>

                <h2>CDN API</h2>
                <p>JSON based API Support for image and file upload via Image URI, Image URL, Base64 format, etc</p>

            </div>
        </div>

    </div>

</div>




<div aria-labelledby="contributeMoneySmallModal" class="modal fade contributeMoneySmallModal" role="dialog" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Contribute Fund
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> ×</span></button>
            </div>
            <div class="modal-body">

                    <div class="form-group">
                        <label for="">Asset</label><select class="form-control" tabindex="0">
                            <option value="eth">ETH</option>
                            <option value="" disabled> USDT </option>
                            <option value="" disabled> FIAT </option>
                            <option value="" disabled> DAI </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input id="userETHBalanceInput" class="form-control" type="hidden">
                        <input id="userWalletHolderInput" class="form-control" type="hidden">
                        <label for=""> Amount(ETH)</label><input id="contributeETHInput" class="form-control" placeholder="Amount" type="number">
                    </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button"> Close</button><button class="btn btn-primary contributeFormButton" type="button">Contribute</button>
            </div>
        </div>
    </div>
</div>






<div aria-labelledby="withdrawMoneySmallModal" class="modal fade withdrawMoneySmallModal" role="dialog" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Withdraw Fund
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> ×</span></button>
            </div>
            <div class="modal-body">

                    <div class="form-group">
                        <label for="">Asset</label><select class="form-control" tabindex="0">
                            <option value="eth">ETH</option>
                            <option value="" disabled> USDT </option>
                            <option value="" disabled> FIAT </option>
                            <option value="" disabled> DAI </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input id="userETHBalanceInput" class="form-control" type="hidden">
                        <input id="userWalletHolderInput" class="form-control" type="hidden">
                        <label for=""> Amount(cETH)</label>
                        <input id="withdrawAmountInputHidden"  class="form-control" type="hidden">
                        <input id="withdrawAmountInput" value="0" class="form-control" type="number">
                    </div>

            </div>


            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button"> Close</button>
                <button class="btn btn-primary withdrawProceedButton" type="button">Proceed</button>

            </div>


            <div class="withdrawalProceedDiv" style="display: none;padding: 20px">
                <hr>
                you will get ETH: <h3 id="withdrawalValueSpan">0</h3> <br>
                <h3 id="withdrawalValueUSDSpan">$0</h3><br><br>
                <button class="btn btn-primary withdrawActionButton" type="button">Withdraw Now!</button>

            </div>



        </div>
    </div>
</div>



<div aria-labelledby="joinPullModal" class="modal fade joinPullModal" role="dialog" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                   Join Group Savings
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> ×</span></button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="">Asset</label><br>
                       ETH

                </div>
                <div class="form-group">
                    <label for=""> Amount(ETH)</label>
                    <input id="withdrawAmountInput" disabled value="5" class="form-control" type="number">
                </div>

            </div>


            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button"> Close</button>
                <button class="btn btn-primary joinPullButtonStart" type="button">Join Now</button>

            </div>


        </div>
    </div>
</div>








<div class="onboarding-modal modal fade animated" id="fiatModal" role="dialog" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-centered" role="document">
        <div class="modal-content text-center">
            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span class="close-label">close</span><span class="os-icon os-icon-close"></span></button>
            <div class="onboarding-media">
                {#<img alt="" src="img/bigicon2.png" width="200px">#}
            </div>
            <div class="onboarding-content with-gradient">
                <h4 class="onboarding-title">
                   Fiat Deposit and Withdrawal
                </h4>
                <div class="onboarding-text">
                   Fiat Deposit will let you deposit fiat in your local currency to your ETH Wallet and get fast exchange to ERC20 token and Ether.
                </div>
                <br>
                <span style="color: brown" class="close-label">coming soon!!</span>
            </div>
        </div>
    </div>
</div>
