<div class="all-wrapper menu-side with-pattern">
    <div class="auth-box-w">


        <h4 class="auth-header"><br>
           DECENTRALIZED OFFICE
        </h4>

        <div style="padding: 20px" class="form-group">

            <p>
           Welcome to Unstable office. Access to Saving to earn on Defi Protocols (AAVE, COMPOUND, UMA etc using local currencies) using FIAT, Decentralized Image/File storage API, and lots more.
            this project was inspired by blockchain hackathons

            </p><br>
          <p>  1. Savings to earn on Defi Protocols.</p>
            <p>   2. ImageServer(Decentralized file storage/streaming). </p>
           <p> 3. The Credit Unions (Esusu)  Saving on group to earn more.</p>
           <p> 4. Web Hosting on IPFS host your website directly from the dashboard just like your Cpanel style</p>
           <p> 5. Decentralized Database System</p>
           <p> 6. Wallet System and Payments</p>
           <p> 7. API and SDKs to accept crypto payments online.</p>
            <p>Suggested name change: 1.Unstoppable 2. Smart Office, 3. Destination  </p>
        </div >

            <div style="padding: 30px" class="row">
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="{{ paths.app }}"> <button id="CONNECT_APP_BUTTON" type="BUTTON" class="btn btn-primary">CREDIT UNION</button></a>

             &nbsp; &nbsp; &nbsp;   <a href="{{ paths.market }}">  <button type="button" class="btn btn-primary">MarketPlace</button></a>
             &nbsp; &nbsp; &nbsp;   <a href="{{ paths.file_server }}">  <button type="button" class="btn btn-primary">Image CDN</button></a>

                <hr>
            </div>
        <div style="padding: 30px">
                &nbsp;&nbsp;
                |
                <a target="_blank" href="{{ site_url }}/swagger/does/index.html"> CDN API </a> |
                <a target="_blank" href="{{route_assets}}/files/DecentralizedOffice.pdf"> Presentation </a>

            </div>

        <div style="padding: 20px" class="form-group">

            Love this app, tell your friends/
            <!-- ShareThis BEGIN -->
            <div class="sharethis-inline-share-buttons"></div>
            <!-- ShareThis END -->
            <br>
        </div>


    </div>
</div>
