<nav class="navbar navbar-transparent navbar-color-on-scroll navbar-expand-lg" color-on-scroll="10"
     id="sectionsNav">
    <div class="container align-items-start">
        <div class="navbar-translate">
            <a class="navbar-brand" href="{{ paths.landing }}">
                <img src="{{route_new_assets}}/img/logo.png">
                <!-- <div class="logo-label">
                  D OFFICE
              </div> -->
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <label id="portisEmail"><button id="portisLogout" class="btn btn-danger">log off</button></label>
                </li>

                <li class="dropdown nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="#" data-original-title="Token Sale Soon" rel="nofollow">
                        <div class="d-flex align-items-center gradient-border">
                            <div class="coin">
                                <div class="face tails">
                                    <img src="{{route_new_assets}}/img/icons/coin.png" style="max-width: 25px;">
                                </div>
                            </div><span>TOKEN SALE is Coming!!</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://twitter.com/DecentralizedO"
                       target="_blank" data-original-title="Follow us on Twitter" rel="nofollow">
                        <!-- <i class="fa fa-twitter"></i> -->
                        <img src="{{route_new_assets}}/img/icons/twitter.png" style="max-width: 20px;">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://t.me/joinchat/VfMCORpPxc_5xervUcke9A"
                       target="_blank" data-original-title="Join us on Telegram" rel="nofollow">
                        <!-- <i class="fa fa-telegram-plane"></i> -->
                        <img src="{{route_new_assets}}/img/icons/telegram.png" style="max-width: 20px;">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="page-header header-filter position-absolute" >
    <!-- <div class="container">
      <div class="row">

      </div>
    </div> -->
    <div class="w-100" id="carousel">
        <div class="col-md-12 mr-auto ml-auto p-0">
            <div class="card card-raised card-carousel">
                <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">

                    <div class="carousel-inner">
                        <div class="carousel-item active">

                            <div class="banner-title-sec">
                                <h4 id="banner-title">
                                    The world's Blockchain Super App
                                </h4>
                                <div class="col-12 d-block d-sm-none d-md-none market-sale-sec">
                                    <div class="d-flex align-items-center gradient-border">
                                        <div class="coin">
                                            <div class="face tails">
                                                <img src="{{route_new_assets}}/img/icons/coin.png" style="max-width: 25px;">
                                            </div>
                                            <!-- <div class="face tails">
                                              <img src="{{route_new_assets}}/img/icons/coin.png">
                                            </div> -->
                                        </div><span>TOKEN SALE is Coming</span>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-caption d-block">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Carousel Card -->
        </div>
    </div>
</div>
<div class="main main-raised" id="particles-js">
    <div class="container position-relative z-index-1">
        <div class="section feature-section text-center">
            <div class="col-12 col-lg-8 mx-auto px-0">
                <ul class="nav nav-pills nav-pills-icons app-features-nav px-0" >

                    <li class="nav-item">
                        <a class="nav-link active show" target="_blank" href="{{ paths.file_server }}">
                            <span class="img-wrap"><img src="{{route_new_assets}}/img/icons/cloud-computing.svg" alt=""></span>
                            <span class="d-block">Image Storage</span>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link active show" target="_blank" href="{{ site_url }}/swagger/does/index.html" >
                            <span class="img-wrap"><img src="{{route_new_assets}}/img/icons/cdn.svg" alt=""></span>
                            <span class="d-block">Free CDN</span>
                        </a>
                    </li>

                    <li  class="nav-item">
                          <a class="nav-link active show" target="_blank" href="{{ paths.bnb_market }}">
                            <span class="img-wrap">
                            <img src="{{route_new_assets}}/img/icons/piggy-bank.svg" alt="BNBMarket">
                          </span>
                            <span class="d-block">BNB Market</span>
                          </a>
                    </li>



                    <li data-message="Our SafeSwap exchange will list and support projects that have met our strict criteria which will focus on investor's fund security" class="nav-item comingSoonLink">
                        <a class="nav-link active show" href="#" role="tab" data-toggle="tab" aria-selected="false">
                            <span class="img-wrap"><img src="{{route_new_assets}}/img/icons/personal.svg" alt=""></span>
                            <span class="d-block">Exchange (DEX)</span>
                        </a>
                    </li>


                    <li data-message="Our Decentralized Finance System will give the community access to Fixed Deposit with maximum APY, Loan/Lending, Group Savings and more. " class="nav-item comingSoonLink">
                        <a class="nav-link active show" href="#" role="tab" data-toggle="tab">
                            <span class="img-wrap"><img src="{{route_new_assets}}/img/icons/credit-union.svg" alt=""></span>
                            <span class="d-block">Finance</span>
                        </a>
                    </li>
                    <li data-message="Our Decentralised web Hosting system will leverage on IPFS technology, offering Cpanel kind of interface for website hosting and DNS routing with Decentralized Database System" class="nav-item comingSoonLink">
                        <a class="nav-link active show" href="#" role="tab" data-toggle="tab">
                            <span class="img-wrap"><img src="{{route_new_assets}}/img/icons/hosting.svg" alt=""></span>
                            <span class="d-block">Web Hosting</span>
                        </a>
                    </li>

                    <li data-message="Our Wallet System will support Bitcoin, Ethereum, Tron and more. And Focus on maximum Security for user funds" class="nav-item comingSoonLink">
                        <a class="nav-link active show" href="#" role="tab" data-toggle="tab">
                            <span class="img-wrap"><img src="{{route_new_assets}}/img/icons/digital-wallet.svg" alt=""></span>
                            <span class="d-block">Wallet</span>
                        </a>
                    </li>
                    <li data-message="SDK and plugins for all available Language will enable merchants accept crypto payments online which is instantly settled to their wallet" class="nav-item comingSoonLink">
                        <a class="nav-link active show" href="#" role="tab" data-toggle="tab">
                            <span class="img-wrap"><img src="{{route_new_assets}}/img/icons/sdk.svg" alt=""></span>
                            <span class="d-block">Payment SDK</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="text-center pb-80">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title mt-0">Now Testing on Testnets</h2>
                    <h5 class="description">If you like what we are doing and wish to join us a developer(all our codes are open source), or as a sponsor kindly message up from Telegram group</h5>
                </div>
            </div>
            <div class="features">
                <div class="row">
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-info">
                                <img src="https://dex-bin.bnbstatic.com/static/images/chain-logo.svg">
                                {#<i class="material-icons">chat</i>#}
                            </div>
                            <h4 class="info-title">Binance Smart Chain</h4>
                            ---
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-success">
                               <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/1027.png">
                                {#<i class="material-icons">verified_user</i>#}
                            </div>
                            <h4 class="info-title">Ethereum Blockchain</h4>
                            ---
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-danger">
                               <img src="https://tron.network/static/images/header/logo-red.svg">
                                {#<i class="material-icons">fingerprint</i>#}
                            </div>
                            <h4 class="info-title">Tron Blockchain</h4>
                           ---
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <br>
            <!-- ShareThis BEGIN -->
            <div class="sharethis-inline-share-buttons"></div>

    </div>
